@import '../../../../app/styles/mixins/global.scss';

.info {
  &__heading {
    @include heading;
  }

  &__container {
    &__section {
      &-heading {
        font-size: 2rem;
        margin-bottom: 2.5rem;
        position: relative;
        &::after {
          content: '';
          position: absolute;
          bottom: -1rem;
          left: 0;
          height: 1px;
          width: 100%;
          background-color: var(--color-grey--medium);
        }
      }
      &__input-box {
        font-size: 2rem;
        @include input-box;
      }
    }
  }

  & form:last-of-type {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

.flex {
  display: flex;
  gap: 4rem;

  @include max500 {
    display: block;
  }
}
