@import '../../../app/styles/mixins/global.scss';

.orders-by-category {
  min-height: 100%;
  flex-grow: 1;
  @include list;
  flex-shrink: 1;

  &__item {
    flex-grow: 1;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;

    @include max900 {
      align-items: center;
    }

    .chart-item {
      flex-grow: 1;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      gap: 1rem;
    }

    .chart {
      flex-grow: 1;
    }

    .legend {
      &-item {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &-label {
        width: 1rem;
        height: 1rem;
      }

      p {
        width: max-content;
      }
    }
  }
}
