@import '../../../../../base-styles/mixins.scss';
@import '../../../../../base-styles/variables.scss';
@import '../../../../../base-styles/animations.scss';

.myOrderDetails {
  background-color: #fff;

  &__item {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include max400 {
      padding: 1rem;
    }

    @include max300 {
      @include list;
      padding: 0.5rem;
      gap: 1rem;
    }

    &:first-of-type {
      border-top: 2px solid $color-grey--light;
    }
    &:not(:first-of-type) {
      padding-top: 2rem;
    }
    &-left {
      display: flex;
      gap: 2rem;

      @include max400 {
        @include list;
        gap: 1rem;
      }

      &-img {
        width: 25%;
        height: 100%;
        object-fit: cover;

        @include max400 {
          width: 60%;
        }
      }
      &__info {
        font-size: 1.2rem;
        color: $color-grey--dark;
        position: relative;
        &-title {
          font-size: 2rem;
          margin-bottom: 1rem;
          color: black;
        }

        &-qty {
          margin-top: 1rem;
        }
      }
    }

    &-right {
      margin-top: 0.5rem;
      min-width: fit-content;
      font-weight: bold;

      @include max700 {
        align-self: flex-end;
      }
      @include max300 {
        align-self: flex-start;
      }
    }
  }

  &__address {
    padding: 2rem;
    @include max400 {
      padding: 1rem;
    }
    @include max300 {
      padding: 1rem 0.5rem;
    }
  }

  &__bottom {
    @include max300 {
      @include list;
      @include center;
      gap: 0rem;
      margin-top: 1rem;
    }
    &-total {
      background-color: #fff;
      font-size: 2rem;
      padding: 1rem 2rem;

      & p {
        width: fit-content;
        margin-left: auto;
        font-weight: bold;
      }
    }
    &-btns {
      background-color: #fff;
      padding: 2rem;
      display: flex;
      gap: 1rem;
      justify-content: flex-end;

      @include max400 {
        padding: 1rem;
      }
      @include max300 {
        padding: 1rem 0.5rem;
      }
    }
  }
}
