@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(20rem);
  }

  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes down {
  0% {
    transform: scaleY(0);
    // max-height: 0;
  }
  100% {
    transform: scaleY(1);
    // max-height: fit-content;
  }
}

@keyframes notification {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(-5%);
  }
  25% {
    transform: translateX(0);
  }
  85% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
