@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import './variables.scss';
@import './mixins.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
}

#root {
  position: relative;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: black;
    transition: all 0.1s;
  }
}

h2 {
  font-size: 2.5rem;
}

//STATUS

.status {
  font-size: 1.5rem;
  height: 3rem;
  width: fit-content;
  padding: 0.5rem 1rem;
  @include center;
  border-radius: 3rem;
  font-weight: bold;
  color: #fff;
  &-waitsForPayment {
    background-color: rgb(240, 146, 32);
  }
  &-accepted {
    background-color: rgb(32, 67, 240);
  }
  // &-canceled {
  //   background-color: rgb(240, 32, 32);
  // }
  &-completed {
    background-color: rgb(27, 199, 56);
  }
}
