@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import './variables.scss';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
}

#root {
  position: relative;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: black;
    transition: all 0.1s;

    &:hover {
      filter: invert(30%);
    }
  }
}
