@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400&family=Roboto+Condensed:wght@300;400;700&display=swap');
@import './variables.scss';
@import './mixins.scss';

html,
body,
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // overflow-x: hidden;
  // &:not(.mobile) {
  // }
}

html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
}

body {
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
}

#root {
  position: relative;
}

a {
  &:link,
  &:visited {
    text-decoration: none;
    color: black;
    transition: all 0.1s;
  }

  &.redLink {
    color: rgb(99, 1, 29) !important;
    &:hover {
      color: rgb(146, 0, 41) !important;
    }
  }
}

h2 {
  font-size: 2.5rem;
  @include max700 {
    font-size: 2rem;
  }
}
h3 {
  font-size: 2rem;
  @include max700 {
    font-size: 1.7rem;
  }
}
p {
  font-size: 1.7rem;
  @include max700 {
    font-size: 1.5rem;
  }
}

textarea,
select,
input {
  font-size: 1.7rem;
  @include max500 {
    font-size: 1.5rem;
  }
}

//STATUS

.status {
  font-size: 1.5rem;
  min-height: 3rem;
  height: fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  text-align: center;
  border-radius: 3rem;
  font-weight: bold;
  color: #fff;
  @include max900 {
    font-size: 1.3rem;
    padding: 0.3rem 0.7rem;
  }
  &-waitsForPayment {
    background-color: rgb(240, 146, 32);
  }
  &-accepted {
    background-color: rgb(32, 67, 240);
  }
  // &-canceled {
  //   background-color: rgb(240, 32, 32);
  // }
  &-completed {
    background-color: rgb(27, 199, 56);
  }
}
