$color-grey--light: #f9f9f9;
$color-grey--medium: #dddddd;
$color-grey--dark: #6f6f6f;
$color-grey--transparent: #a5a5a579;

$header-height: 6rem;
$footer-height: 12rem;
$footer-height-l: 22rem;

$length-s: 1rem;
$length-m: 2rem;
$length-l: 4rem;
