@import '../../../app/styles/mixins/global.scss';

.header {
  font-size: 2rem;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.95);
  color: black;
  border-bottom: 1.5px solid var(--color-grey--light);

  &__container {
    @include main-block;
    margin: 0 auto;
  }
}
