@import '../../../../app/styles/mixins/global.scss';

.SelectedItemColors {
  margin-top: 1rem;
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;

  @include max400 {
    @include list;
    gap: 0.5rem;
  }

  @include max300 {
    @include list;
    gap: 1rem;
  }
}

.itemPartColor {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  min-width: max-content;
}

.color {
  @include colorBtn;
  width: 3rem;
  height: 3rem;
}
