.MonthleRevenueReportSkeleton {
  height: 100%;
  width: 100%;
  min-height: 50rem;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 0 auto 2rem auto;
}

.chart {
  height: auto;
  flex-grow: 1;
}
