@import '../../../base-styles/animations.scss';
@import '../../../app/styles/mixins/global.scss';

.dropdown {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 4rem;
  width: 42rem;
  padding: 1rem 1rem 2rem 1rem;
  background-color: #fff;
  z-index: 10;
  @include max500 {
    width: calc(100vw * 0.9);
    padding: 2rem;
  }
  @include max300 {
    padding: 1rem;
  }

  &--open {
    @include animation-open;
  }
  &--closed {
    @include animation-closed(-1rem);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    justify-content: space-between;

    @include max500 {
      @include list;
    }

    &-section {
      width: 20rem;
      @include max500 {
        width: 100%;
      }

      &-title {
        font-weight: 600;
        margin-bottom: 1rem;
        text-align: center;
        @include max500 {
          font-size: 2rem;
        }
      }
      &-options {
        @include list;
        gap: 1rem;
        @include center;

        &--item,
        &--item-active {
          @include center;
          justify-content: flex-start;
          padding-left: 1rem;
          min-width: 18rem;
          height: 3rem;
          // border-radius: 3rem;
          background-color: var(--color-grey--light);
          cursor: pointer;
          &:hover {
            background-color: var(--color-grey--medium);
          }

          &-active {
            background-color: var(--color-grey--medium);
          }

          @include max500 {
            font-size: 2rem;
            min-width: fit-content;

            width: 100%;
            min-height: 4rem;
            height: fit-content;
            padding: 0.5rem 1rem;
          }
          @include max400 {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}
