@import '../../base-styles/mixins.scss';
@import '../../base-styles/variables.scss';

.item {
  @include main-block;
  @include header-footer;

  margin: 0 auto;

  &__container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    & .spinner {
      height: 24rem;
    }
    &__left {
      width: 50rem;
      display: flex;
    }
    &__right {
      width: 40%;
    }
  }
}
