@import '../../app/styles/mixins/global.scss';

.item {
  @include main-block;
  @include header-footer;
  margin-top: 2rem;

  &__container {
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @include max900 {
      @include list;
    }

    & .spinner {
      height: 24rem;
    }
    &__left {
      max-width: 50rem;
      width: 50%;
      display: flex;
      @include max900 {
        max-width: 40rem;
        width: 100%;
      }
    }
    &__right {
      width: 48%;
      @include max900 {
        width: 100%;
      }
    }
  }
}
