@import '../../app/styles/mixins/global.scss';

.Item {
  @include main-block;
  @include header-footer;
  margin-top: 2rem;
}

.container {
  min-height: 40rem;
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  gap: 2rem;
  align-items: stretch;

  @include max800 {
    @include list;
    align-items: center;
  }
}

.itemImage,
.imageSkeletonContainer {
  max-width: 50rem;
  width: 50%;
  display: flex;
  flex-shrink: 1;
  align-self: center;

  @include max900 {
    max-width: 40rem;
    width: 100%;
  }
}

.itemImage {
  height: auto;
}

.imageSkeleton {
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
}

.itemInfo {
  width: 50%;
  height: auto;
  flex-shrink: 0;

  @include max900 {
    width: auto;
    max-width: 55%;
  }
  @include max800 {
    width: 100%;
    max-width: 100%;
    align-self: flex-start;
  }
}
