@import '../../../base-styles/variables.scss';
@import '../../../base-styles/mixins.scss';

.filtersPanel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  &__item {
    width: 100%;
    &-cell {
      width: fit-content;
      @include center;
      gap: 1rem;
      font-size: 1.5rem;
      background-color: $color-grey--light;
      height: 3rem;
      padding: 0 1rem;

      & span {
        font-size: 1.2rem;
        @include hover;
      }
    }
  }
}
