@import '../../../app/styles/mixins/global.scss';

.filtersPanel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 2rem;

  @include max1000 {
    grid-template-columns: repeat(4, 1fr);
  }
  @include max800 {
    grid-template-columns: repeat(3, 1fr);
  }
  @include max500 {
    grid-template-columns: repeat(2, 1fr);
  }
}
