@import '../../../app/styles/mixins/global.scss';

.filtersPanel {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  margin-bottom: 2rem;

  @include max1000 {
    grid-template-columns: repeat(4, 1fr);
  }
  @include max800 {
    grid-template-columns: repeat(3, 1fr);
  }
  @include max500 {
    grid-template-columns: repeat(2, 1fr);
  }
  &__item {
    width: fit-content;
    &-cell {
      min-width: fit-content;
      @include center;
      gap: 1rem;
      font-size: 1.3rem;
      background-color: var(--color-grey--light);
      min-height: 3rem;
      padding: 0.5rem 1rem;

      @include max500 {
        padding: 0.2rem 0.5rem;
      }

      & span {
        font-size: 1.2rem;
        @include hover;
      }
    }
  }
}
