@import '../../../app/styles/mixins/global.scss';

.quantity {
  display: flex;
  &__cell {
    @include cell;
    height: 3rem;
    width: 3rem;
    &-num {
      @include center;
      width: 3rem;
      height: 3rem;
    }
  }
}
