@import '../../../base-styles/mixins.scss';

.badge {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background-color: rgb(233, 67, 67);
  color: white;
  width: 2rem;
  height: 2rem;
  font-size: 1.5rem;
  border-radius: 50%;
  @include center;
}
