@import '../../../../../base-styles/mixins.scss';
@import '../../../../../base-styles/variables.scss';

.order-card {
  width: 100%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  min-height: 10rem;
  font-size: 2rem;

  &__field {
    @include center;
    flex-direction: column;

    &:not(:last-of-type) {
      border-right: 2px solid $color-grey--light;
    }

    &-status {
      background-color: rgb(32, 67, 240);
      font-size: 1.5rem;
      width: 80%;
      padding: 0.5rem 1rem;
      border-radius: 3rem;
      font-weight: bold;
      color: #fff;
    }
    &-open {
      @include hover;
    }
  }
}
