@import '../../../../app/styles/mixins/global.scss';

.title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.colors {
  display: flex;
  margin-bottom: 3rem;
  gap: 2.5rem;

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    transition: all 0.1s;
    &:hover {
      border-color: var(--color-grey--dark);
    }
    &__img {
      @include colorBtnHover;
    }
  }
}

.leatherType {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  & p {
    flex-shrink: 0;
  }

  @include max500 {
    @include list;
    align-items: flex-start;
  }
}

.leatherTypeInfo {
  @include center;
  margin-left: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: black;
  border-radius: 50%;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s;

  @include max300 {
    margin-left: auto;
    margin-right: 1rem;
  }

  &:hover {
    background-color: var(--color-grey--dark);
  }
}
.radio {
  display: flex;
  width: 100%;

  &__options {
    display: flex;
    gap: 2rem;

    @include max300 {
      @include list;
      align-items: flex-start;
    }
  }
}

.descriptionHeading {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.description {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  max-width: 50rem;
}
