@import '../../../../base-styles/mixins.scss';
@import '../../../../base-styles/variables.scss';

.orders {
  &__heading {
    @include heading;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &-empty {
      font-size: 2rem;
    }
  }
}
