@import '../../../app/styles/mixins/global.scss';

.items-preview {
  @include main-block;
  margin: 4rem auto;

  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    &-link {
      color: var(--color-grey--dark) !important;
      font-size: 1.5rem;

      &:hover {
        color: var(--color-grey--medium) !important;
      }
    }
  }
  &__container {
    @include items-section--home;
    margin-top: 2rem;

    @include max1000 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-items: center;
    }

    @include max700 {
      @include list;
    }
  }
}
