@import '../../base-styles/variables.scss';
@import '../../base-styles/mixins.scss';

.cart {
  @include main-block;
  margin: 0 auto;
  padding-bottom: $footer-length;
  padding-top: $header-length;

  &__modal {
    font-size: 2rem;
    text-align: center;
  }

  &__heading {
    @include heading;
  }

  &__container {
    margin-bottom: 4rem;

    & .spinner {
      height: 24rem;
    }

    &-empty {
      font-size: 2rem;
      text-align: center;
      color: $color-grey--dark;
    }
    &__order {
      border: 1px solid $color-grey--medium;
      &__total {
        padding: 2rem 1rem;
        background-color: $color-grey--medium;
        font-size: 2.5rem;
        font-weight: 700;

        & p {
          width: fit-content;
          margin-left: auto;
        }
      }
    }

    &__btn {
      margin-top: 2rem;
      @include center;
    }
    & svg {
      width: 2rem;
      height: 2rem;
      cursor: pointer;

      &:hover {
        filter: invert(30%);
      }
    }
  }
}
