@import '../../app/styles/mixins/global.scss';

.leathers {
  // margin: 0 auto;
  @include main-block;
  @include header-footer;
  margin-top: 2rem;

  &-heading {
    // @include main-block;
    & h1 {
      @include heading;
    }
  }

  &__container {
    &__leather {
      padding: 4rem 2rem;
      &:first-of-type {
        padding-top: 0;
      }
      @include max700 {
        &:first-of-type,
        &:last-of-type {
          & .leathers__container__leather__content {
            flex-direction: column-reverse;
          }
        }
      }

      &__content {
        max-width: 124rem;
        display: flex;
        gap: 6rem;
        margin: 4rem auto;

        @include max700 {
          @include list;
          align-items: center;
        }

        &-text {
          font-size: 2rem;
          & p {
            margin-bottom: 1rem;
          }
        }

        &-img {
          max-width: 42rem;
          width: 46%;
          height: 100%;

          @include max700 {
            width: 100%;
          }
        }
      }

      &:nth-of-type(2) {
        background-color: var(--color-grey--light);
        max-width: 222rem;
      }

      &-heading {
        font-size: 2.5rem;
        text-align: center;
      }
    }
  }
}
