@import '../../app/styles/mixins/global.scss';

.filter {
  position: relative;
  min-width: 20rem;

  &-background {
    min-width: 100vw;
    min-height: 150vh;
    position: fixed;
    top: -10%;
    left: 0;
  }
}

.view {
  display: flex;
  gap: 1rem;
  height: 3rem;

  &__cell {
    @include cell;
  }
}

.active {
  color: white;
  background-color: var(--color-grey--dark);
}
