@import '../../base-styles/variables.scss';
@import '../../base-styles/mixins.scss';

.filter {
  position: relative;
  min-width: 20rem;
}

.view {
  display: flex;
  gap: 1rem;
  height: 3rem;

  &__cell {
    @include cell;
  }
}

.active {
  color: white;
  background-color: $color-grey--dark;
}
