@import '../../../base-styles/variables.scss';
@import '../../../base-styles/mixins.scss';

.item-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.item-price {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.colors {
  display: flex;
  margin-bottom: 3rem;
  gap: 2.5rem;

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    transition: all 0.1s;
    &:hover {
      border-color: $color-grey--dark;
    }
    &__img {
      @include colorBtnHover;
    }
  }
}

.leather-type {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;

  & p {
    width: 10rem;
  }

  @include max500 {
    @include list;
    align-items: start;
  }

  &-info {
    @include center;
    margin-left: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;

    @include max300 {
      margin-left: auto;
      margin-right: 1rem;
    }

    &:hover {
      background-color: $color-grey--dark;
    }
  }
  &__radio {
    display: flex;
    width: 100%;

    &__options {
      display: flex;

      @include max300 {
        @include list;
        align-items: start;
      }

      &-input {
        margin-right: 0.5rem;
      }
      & label {
        margin-right: 1.5rem;
        display: flex;
        align-items: center;

        @include max500 {
          margin-right: 1.2rem;
        }
      }
    }
  }
}

.item-desc {
  margin-bottom: 2rem;
  font-size: 1.5rem;

  &-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 50rem;
  }
}
