@import '../../../base-styles/variables.scss';
@import '../../../base-styles/mixins.scss';

.item-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.item-price {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.colors {
  display: flex;
  margin-bottom: 3rem;
  gap: 2.5rem;

  &-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.5rem;
    transition: all 0.1s;
    &:hover {
      border-color: $color-grey--dark;
    }
    &__img {
      @include colorBtn;
    }
  }
}

.leather-type {
  font-size: 1.5rem;
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;

  &__radio {
    display: flex;

    &-input {
      margin-right: 0.5rem;
    }
    & label {
      margin-right: 1.5rem;
      display: flex;
      align-items: center;
    }
  }
}

.item-desc {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;

  &-text {
    font-size: 1.5rem;
    margin-bottom: 3rem;
  }
}
