@import '../../base-styles/mixins.scss';
@import '../../base-styles/variables.scss';

.profile {
  @include main-block;
  @include header-footer;

  &__heading {
    @include heading;
  }

  &__container {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;

    @include max1000 {
      gap: 2rem;
    }
    @include max800 {
      gap: 1rem;
    }
    @include max700 {
      @include list;
    }
    @include max500 {
      gap: 0.5rem;
    }

    &__content {
      background-color: $color-grey--light;
      width: 100%;
      padding: 2rem 4rem;
      min-height: 30rem;

      @include max1000 {
        padding: 2rem;
      }
      @include max800 {
        padding: 1rem;
      }
      @include max400 {
        padding: 0.5rem;
      }
    }
  }
}

.nav {
  @include max700 {
    display: flex;
    justify-content: space-between;
  }
  @include max500 {
    justify-content: space-evenly;
  }
  @include max400 {
    justify-content: space-between;
  }
}
