@import '../../base-styles/mixins.scss';
@import '../../base-styles/variables.scss';

.profile {
  @include main-block;
  margin: 4rem auto 0 auto;
  padding-bottom: $footer-length;
  padding-top: $header-length;

  &__heading {
    @include heading;
  }

  &__container {
    display: flex;
    gap: 4rem;
    margin-bottom: 4rem;

    &__nav {
      // margin-top: 1rem;
    }

    &__content {
      background-color: $color-grey--light;
      width: 100%;
      padding: 2rem 4rem;
      min-height: 30rem;
    }
  }
}
