@import '../../../../../app/styles/mixins/global.scss';

.address-card {
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  min-height: 8rem;
  @include max500 {
    padding: 0.5rem 0;
  }

  &-active {
    outline: 2px solid var(--color-grey--medium);
  }

  &__fromCart {
    cursor: pointer;
    transition: all 0.2s;

    & .address-card__right {
      width: 100%;
    }

    &:not(.address-card-active):hover {
      transform: scale(0.99);
    }
  }
  &__right {
    width: 85%;
    padding-right: 1rem;
    font-size: 2rem;
    padding: 0 2rem;

    @include max500 {
      font-size: 1.7rem;
      padding: 0 1rem;
    }
  }
  &__left {
    @include center;
    gap: 2rem;
    width: fit-content;
    padding: 0 2rem;
    @include max500 {
      padding: 0 1rem;
    }

    & img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      @include hover;
      @include max500 {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}
