@import '../../../../../base-styles/mixins.scss';
@import '../../../../../base-styles/variables.scss';

.address-card {
  width: 100%;
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;

  &-active {
    outline: 3px solid $color-grey--dark;
    // background-color: $color-grey--medium;
  }

  &__right {
    width: 85%;
    padding-right: 1rem;
    font-size: 2rem;
    padding: 0 2rem;

    &-fromCart {
      cursor: pointer;
      width: 100%;
    }
  }
  &__left {
    @include center;
    gap: 1rem;
    width: 15%;
    padding-left: 1rem;

    & img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
      @include hover;
    }
  }
}
