@import '../../../../app/styles/mixins/global.scss';

.orders {
  @include list;

  li {
    list-style: none;
  }

  & .spinner {
    height: 24rem;
  }

  &-heading {
    @include heading;

    &:last-of-type:not(:first-of-type) {
      margin-top: var(--length-l);
      @include max1000 {
        margin-top: var(--length-m);
      }
      @include max500 {
        margin-top: var(--length-s);
      }
    }
  }
}
