@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';
@import '../../../base-styles/animations.scss';

.listItem {
  &__card {
    display: flex;
    height: 10rem;
    &__main {
      width: 100%;
      display: grid;
      padding: 0 3rem;
      font-size: 1.7rem;

      &__field {
        @include center;

        &:first-of-type {
          justify-self: start;
        }
        &:last-of-type {
          justify-self: end;
        }

        &-content {
          width: 100%;
          @include center;
        }
      }
    }
    &--white {
      background-color: white;
    }
    &--grey {
      background-color: $color-grey--light;
    }

    &__openDetails {
      width: 6rem;
      height: inherit;
      @include center;

      &--white {
        border-left: 2px solid $color-grey--light;
      }
      &--grey {
        border-left: 2px solid white;
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      @include hover;
      transition: all 0.2s;
      &--open {
        transform: rotate(270deg);
      }
      &--closed {
        transform: rotate(90deg);
      }
    }

    &--white,
    &--grey {
      &__openDetails {
        @include center;
        width: 6rem;
      }
    }
  }
  &__details {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &--open {
      max-height: 90rem;
    }
    &--closed {
      max-height: 0;
    }
  }
}
