@import '../../base-styles/variables.scss';
@import '../../base-styles/mixins.scss';

.catalog {
  @include main-block;
  padding-bottom: $footer-height + 8rem;
  padding-top: $header-height;

  @include max500 {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: hidden;
  }

  &__container {
    min-height: 40rem;
    margin-bottom: 4rem;

    & .spinner {
      height: 24rem;
    }

    &__top {
      display: flex;
      align-items: center;
      gap: 4rem;
      font-size: 1.5rem;
      margin-bottom: 2rem;
    }

    &__items {
      &-empty {
        font-size: 2rem;
        text-align: center;
        margin-top: 4rem;
      }

      @include items-section--catalog;

      @include max1000 {
        gap: 1rem;
        row-gap: 4rem;
      }
      @include max700 {
        grid-template-columns: repeat(2, 1fr);
      }
      @include max400 {
        @include list;
        align-items: center;
        margin-bottom: 12rem;
      }
    }
  }
}
