@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.orders {
  padding-bottom: 2rem;
  @include list;

  & .spinner {
    height: 24rem;
  }

  &-heading {
    @include heading;

    &:last-of-type {
      margin-top: $length-l;
      @include max1000 {
        margin-top: $length-m;
      }
      @include max500 {
        margin-top: $length-s;
      }
    }
  }
}
