@import '../../../../app/styles/mixins/global.scss';

.confirmationModal-buttons {
  padding: 0 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  & button {
    width: 8rem;
  }

  @include max400 {
    padding: 0 2rem;
  }
  @include max300 {
    padding: 0rem;
  }
}
