@import '../../../../app/styles/mixins/global.scss';

.confirmationModal-buttons {
  padding: 0 4rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;

  & button {
    min-width: 8rem;
  }

  @include max400 {
    padding: 0 2rem;
  }
  @include max300 {
    padding: 0rem;
  }
}

.confirmationModal-title {
  font-size: 2rem;
}

.confirmationModal-cancel {
  background-color: var(--color-red);
  color: white;
}
