@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.button {
  font-size: 1.5rem;
  padding: 0 1rem;
  width: fit-content;
  max-width: 22rem;
  min-width: 12rem;
  height: 3rem;
  @include center;
  cursor: pointer;
  border: none;
  transition: all 0.1s;
  &:hover {
    color: white;
    background-color: $color-grey--dark;
  }

  @include max500 {
    min-width: 8rem;
  }
  @include max300 {
    min-width: 6rem;
  }
}

.black {
  background-color: black;
  color: white;
  &-disabled {
    cursor: auto;
    background-color: $color-grey--dark;
    &:hover {
      background-color: $color-grey--dark;
    }
  }
}

.grey {
  background-color: $color-grey--medium;

  &-disabled {
    cursor: auto;
    background-color: $color-grey--dark;
    &:hover {
      background-color: $color-grey--dark;
    }
  }
}

.big {
  font-size: 2rem;
  height: 5rem;
  min-width: 16rem;
  width: fit-content;
  padding: 0 1rem;
  @include max300 {
    min-width: none;
    font-size: 1.5rem;
  }
}

.animated {
  animation: up 0.8s ease;
}
