@import '../../../app/styles/mixins/global.scss';
@import '../../../app/styles/animations/global.scss';

.listItem {
  width: 100%;

  @include max500 {
    &:has(.myOrderListItem) {
      min-height: 6rem;
    }
  }

  @include max300 {
    min-height: 12rem;
  }

  &__card {
    display: flex;
    min-height: 10rem;

    @include max500 {
      &:has(.myOrderListItem) {
        min-height: 6rem;
      }
    }

    @include max300 {
      display: block;

      &:has(.itemListItem) {
        height: 26rem;
      }
    }

    &--white {
      background-color: white;
    }
    &--grey {
      background-color: var(--color-grey--light);
    }

    &__arrow {
      width: 6rem;
      height: inherit;
      @include center;

      @include max700 {
        width: 4rem;
      }

      &--white {
        border-left: 2px solid var(--color-grey--light);
      }
      &--grey {
        border-left: 2px solid white;
      }

      @include max300 {
        height: 4rem;
        width: 100%;
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      @include hover;
      transition: all 0.2s;
      &--open {
        transform: rotate(270deg);
      }
      &--closed {
        transform: rotate(90deg);
      }
    }

    &--white,
    &--grey {
      &__openDetails {
        @include center;
        width: 6rem;
      }
    }
  }
  &__details {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &--open {
      max-height: 94rem;
    }
    &--closed {
      max-height: 0;
    }
  }
}
