@import '../../../../app/styles/mixins/global.scss';

.passwordChangeForm {
  margin-top: 2rem;
  margin-bottom: 2rem;

  &-title {
    @include subtitleWithUnderline;
  }

  &-input {
    font-size: 2rem;
    @include input-box;
  }

  &__input-group {
    display: flex;
    gap: 4rem;

    @include max500 {
      display: block;
    }
  }
}
