@import '../../base-styles/mixins.scss';
@import '../../base-styles/variables.scss';

.not-found {
  @include main-block;
  @include center;
  flex-direction: column;
  @include header-footer;

  & h1 {
    font-size: 15rem;
  }

  & p {
    font-size: 3rem;
  }
}
