@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.management {
  @include main-block;
  margin: 4rem auto 0 auto;
  padding-bottom: $footer-length;
  padding-top: $header-length;
  position: relative;

  &__buttons {
    display: flex;
    gap: 2rem;
  }

  &-heading {
    @include heading;
  }
}
