@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.items {
  @include main-block;
  margin: 4rem auto 0 auto;
  padding-bottom: $footer-length;
  padding-top: $header-length;
  position: relative;

  & button {
    margin-bottom: 4rem;
  }

  &-heading {
    @include heading;
  }

  &__container {
    @include list;

    &__item {
      display: flex;
      width: 100%;
      justify-content: space-between;
      height: 10rem;

      &-delete {
        @include center;
        width: 8%;

        & svg {
          width: 2rem;
          height: 2rem;
          @include hover;
        }
      }
    }
  }
}
