@import '../../../app/styles/mixins/global.scss';

.button {
  font-size: 1.5rem;
  padding: 0 1rem;
  width: fit-content;
  max-width: 22rem;
  min-width: 12rem;
  height: 3rem;
  @include center;
  cursor: pointer;
  border: none;
  transition: all 0.1s;

  &--large {
    font-size: 2rem;
    height: 5rem;
    min-width: 16rem;
    width: fit-content;
    padding: 0 1rem;
    @include max300 {
      min-width: none;
      font-size: 1.5rem;
    }
  }
  &-black {
    background-color: black;
    color: white;
    &--disabled {
      cursor: auto;
      background-color: var(--color-grey--dark);

      &:hover {
        background-color: var(--color-grey--dark);
      }
    }
  }

  &-grey {
    background-color: var(--color-grey--medium);

    &--disabled {
      cursor: auto;
      background-color: var(--color-grey--dark);

      &:hover {
        background-color: var(--color-grey--dark);
      }
    }
  }

  &--animated {
    animation: up 0.8s ease;
  }

  &:hover {
    color: white;
    background-color: var(--color-grey--dark);
  }

  @include max500 {
    min-width: 8rem;
  }
  @include max300 {
    min-width: 6rem;
  }
}
