@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.item-card {
  max-width: 32rem;

  @include max400 {
    width: 100%;
  }

  &__img {
    width: 100%;
    max-height: 32rem;
    overflow: hidden;
    @include max400 {
      height: 28rem;
    }
    @include max300 {
      height: 24rem;
    }
    &--item {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: all 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
  &__text {
    font-size: 1.5rem;
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    color: grey;

    &--price {
      color: black;
    }

    @include max400 {
      padding: 0 2rem;
    }
  }
}
