@import '../../../../app/styles/mixins/global.scss';
@import '../../../../app/styles/animations/global.scss';

.ordersAdminListItem {
  width: 100%;
  display: grid;
  padding: 0 3rem;
  font-size: 1.7rem;

  @include max900 {
    padding: 0 1rem;
    font-size: 1.5rem;
  }
  @include max700 {
    grid-template-columns: repeat(3, 1fr) !important;
  }
  @include max300 {
    padding: 1rem;
    grid-template-columns: repeat(2, 1fr) !important;
  }

  &__field {
    @include center;

    &:first-of-type {
      justify-self: start;

      @include max700 {
        justify-self: center;
      }
    }
    &:last-of-type {
      @include max700 {
        grid-column: 3;
        grid-row: 1/3;
        justify-self: center;
      }
      @include max300 {
        grid-column: 1/3;
        grid-row: 3;
        margin-top: 1rem;
      }
    }

    &-content {
      width: 100%;
      @include center;

      @include max500 {
        font-size: 1.3rem;
        align-self: flex-start;
        padding-top: 1rem;
      }
    }
  }
}
