@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.pagination {
  font-size: 2rem;
  display: flex;
  gap: 0.5rem;
  width: fit-content;
  position: absolute;
  bottom: $footer-height + 4rem;
  left: 50%;
  transform: translateX(-50%);

  &-item {
    width: 3rem;
    height: 3rem;
    @include center;
    background-color: $color-grey--medium;
    &:not(.pagination-item-active):hover {
      cursor: pointer;
      background-color: $color-grey--dark;
      color: white;
    }

    &-active {
      background-color: $color-grey--dark;
      color: white;
    }
  }
}
