@import '../../../app/styles/mixins/global.scss';
@import '../../../app/styles/animations/global.scss';

.select-address {
  background-color: var(--color-grey--light);
  padding: 2rem;
  animation: down 0.5s ease;
  transform-origin: top center;
  @include max500 {
    padding: 1rem;
  }
  @include max300 {
    padding: 1rem 0.5rem;
  }
  & h2 {
    margin-bottom: 2rem;
  }

  & .spinner {
    height: 8rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    animation: up 0.8s ease;

    @include max700 {
      @include list;
    }
  }
}

.addAddress {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  background-color: var(--color-grey--light);
}
