@import '../../../../app/styles/mixins/global.scss';

.personalInfoForm {
  &-title {
    @include subtitleWithUnderline;
  }

  &-input {
    font-size: 2rem;
    @include input-box;
  }

  &__input-group {
    display: flex;
    gap: 4rem;

    @include max500 {
      display: block;
    }
  }

  @include max500 {
    margin-top: 2rem;
  }
}
