@import '../../../../../app/styles/mixins/global.scss';
@import '../../../../../app/styles/animations/global.scss';

.address-form {
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 1px solid var(--color-grey--medium);
  animation: down 0.4s;
  transform-origin: top center;

  &__input-box {
    font-size: 2rem;
    @include input-box;
    animation: up 0.8s;
  }
}
