@import '../../../../app/styles/mixins/global.scss';

.checkoutAddressCard {
  height: fit-content;
  min-height: 8rem;
  width: 100%;
  padding: 1rem 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.2s;
  cursor: pointer;

  &:not(.checkoutAddressCard--selected):hover {
    transform: scale(0.99);
  }

  @include max500 {
    padding: 0.5rem 0;
  }

  &--selected {
    outline: 2px solid var(--color-grey--medium);
  }

  &-content {
    width: 85%;
    padding: 0 2rem;
    padding-right: 1rem;
    font-size: 2rem;

    @include max500 {
      font-size: 1.7rem;
      padding: 0 1rem;
    }
  }
}
