@import '../../app/styles/mixins/global.scss';

.CheckoutSuccessful {
  text-align: center;
  @include main-block;
  @include header-footer;
  @include center;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  height: 4rem;
  stroke: var(--color-green);
  stroke-width: 2.5rem;
}

.button {
  margin-top: 1rem;
}
