@import '../../../../app/styles/mixins/global.scss';

.OrdersAdminSkeleton {
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 6rem;
}

.orderList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
