@import '../../../app/styles/mixins/global.scss';
@import '../../../app/styles/animations/global.scss';

.AuthorizationForm {
  @include main-block;
  @include header-footer;
}

.container {
  margin: 0 auto;
  width: 80%;
  text-align: center;
  animation: up 0.5s ease;
}

.title {
  @include heading;
}

.form {
  @include center;
  gap: 1rem;
  margin: 0 auto;
  width: 25rem;
  flex-direction: column;
  font-size: 1.5rem;

  & button {
    width: 15rem;
  }
}
