@import '../../../../app/styles/mixins/global.scss';

.CheckoutSuccessfulContent {
  text-align: center;
  @include main-block;
  @include header-footer;
  @include center;
  flex-direction: column;
  gap: 1rem;
}

.icon {
  height: 4rem;
  stroke-width: 2.5rem;
}

.successIcon {
  stroke: var(--color-green);
}

.errorIcon {
  stroke: var(--color-red);
}

.button {
  margin-top: 1rem;
}
