@import '../../../base-styles/animations.scss';
@import '../../../app/styles/mixins/global.scss';

.listItem {
  width: 100%;

  @include max500 {
    &:has(.myOrder) {
      min-height: 6rem;
    }
  }

  @include max300 {
    min-height: 12rem;
  }

  &__card {
    display: flex;
    min-height: 10rem;
    @include max500 {
      &:has(.myOrder) {
        min-height: 6rem;
      }
    }

    @include max300 {
      display: block;
      &:has(.listItem__card__main-withImage) {
        height: 26rem;
      }
    }
    &__main {
      width: 100%;
      display: grid;
      padding: 0 3rem;
      font-size: 1.7rem;

      @include max900 {
        padding: 0 1rem;
        font-size: 1.5rem;
      }
      @include max700 {
        grid-template-columns: repeat(3, 1fr) !important;
      }
      @include max300 {
        padding: 1rem;
        grid-template-columns: repeat(2, 1fr) !important;
      }

      &.myOrder {
        @include max700 {
          display: flex;
          justify-content: space-between;
        }
        @include max500 {
          display: grid;
          grid-template-rows: repeat(2, 1fr);
        }

        @include max300 {
          @include list;
          gap: 1rem;
        }
      }

      &-withImage {
        padding: 0 3rem 0 0;

        @include max700 {
          & .listItem__card__main__field {
            text-align: center;
            &:first-of-type {
              grid-row: 1/3;
              justify-self: start;
            }
            &:nth-of-type(2) {
              grid-column: 2;
              grid-row: 2;
            }
            &:nth-of-type(3) {
              grid-column: 2;
            }
            &:nth-of-type(4) {
              grid-column: 3;
              grid-row: 2;
            }
            &:nth-of-type(5) {
              grid-row: 1;
            }

            &-content {
              &:has(img) {
                padding-top: 0rem !important;
              }
            }
          }
        }

        @include max300 {
          @include list;
          gap: 0.5rem;
          padding: 0;
        }
      }

      &__field {
        @include center;

        &:first-of-type {
          justify-self: start;
          @include max700 {
            justify-self: center;
          }
        }
        &:last-of-type {
          &:not(.myOrder) {
            @include max700 {
              grid-column: 3;
              grid-row: 1;
              justify-self: center;
            }
          }
          &:has(.status) {
            @include max700 {
              grid-column: 3;
              grid-row: 1/3;
              justify-self: center;
            }
            @include max300 {
              grid-column: 1/3;
              grid-row: 3;
              margin-top: 1rem;
            }
          }
        }

        &:has(.status) {
          justify-self: end;
        }
        &.myOrder {
          @include max500 {
            &:first-of-type {
              grid-column: 1/3;
            }
            &:nth-of-type(2) {
              grid-column: 1/3;
            }
            &:has(.status) {
              grid-column: 3;
              grid-row: 1/3;
            }
          }
        }

        &-content {
          width: 100%;
          @include center;

          & img {
            height: 10rem;
          }

          @include max500 {
            font-size: 1.3rem;
            &:not(.status) {
              &:not(.myOrder) {
                align-self: flex-start;
                padding-top: 1rem;
              }
            }
          }
        }
      }
    }
    &--white {
      background-color: white;
    }
    &--grey {
      background-color: var(--color-grey--light);
    }

    &__arrow {
      width: 6rem;
      height: inherit;
      @include center;

      @include max700 {
        width: 4rem;
      }

      &--white {
        border-left: 2px solid var(--color-grey--light);
      }
      &--grey {
        border-left: 2px solid white;
      }

      @include max300 {
        height: 4rem;
        width: 100%;
      }
    }

    &-icon {
      width: 2rem;
      height: 2rem;
      @include hover;
      transition: all 0.2s;
      &--open {
        transform: rotate(270deg);
      }
      &--closed {
        transform: rotate(90deg);
      }
    }

    &--white,
    &--grey {
      &__openDetails {
        @include center;
        width: 6rem;
      }
    }
  }
  &__details {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    &--open {
      max-height: 94rem;
    }
    &--closed {
      max-height: 0;
    }
  }
}
