.paymentElement {
  width: 100%;
  height: 17.5rem;

  @media (max-width: 481px) {
    height: 23.7rem;
    margin-bottom: 1.5rem;
  }

  @media (max-width: 361px) {
    height: 30rem;
    margin-bottom: 3rem;
  }
}

.button {
  margin-top: 6.5rem;
}
