@import '../../../base-styles/mixins.scss';
@import '../../../base-styles/variables.scss';

.colors {
  &-vertical {
    display: flex;
    margin-bottom: 3rem;
    gap: 2.5rem;
    &-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.8rem;
      font-size: 1.5rem;
      &--color {
        @include colorBtnHover;
      }
      & p {
      }
    }
  }

  &-horizontal {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;

    &.fromMyOrders {
      @include max800 {
        @include list;
        gap: 0.5rem;
      }
    }

    &-item {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      &--color {
        @include colorBtn;
        width: 3rem;
        height: 3rem;
      }
      & p {
      }
    }

    @include max300 {
      @include list;
      gap: 1rem;
    }
  }
}
