@import '../../app/styles/mixins/global.scss';
@import '../../app/styles/animations/global.scss';

.register {
  @include main-block;
  @include header-footer;

  &__container {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-size: 1.5rem;
    animation: up 0.5s ease;

    &__heading {
      @include heading;
    }
    &__form {
      @include center;
      flex-direction: column;
      font-size: 1.5rem;

      &__box {
        @include input-box;
      }
      &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin-bottom: 6rem;
      }
    }
  }
}

.button-long {
  width: 15rem;
}
